name: Cypress Tests

on:
    workflow_dispatch:
    push:
        branches: [main, master]
    pull_request:
        branches: [main, master]

jobs:
    cypress-run:
        runs-on: ubuntu-latest
        container:
            image: cypress/included:15.7.0
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22

            - name: Install dependencies
              run: npm ci

            - name: Run Cypress tests
              uses: cypress-io/github-action@v6
              with:
                  browser: chrome

            - name: Upload Cypress screenshots
              if: failure()
              uses: actions/upload-artifact@v4
              with:
                  name: cypress-screenshots
                  path: cypress/screenshots

            - name: Upload Cypress videos
              if: failure()
              uses: actions/upload-artifact@v4
              with:
                  name: cypress-videos
                  path: cypress/videos
